@using CalisthenicsSkillTracker.ViewModels.ExerciseViewModels
@model DetailsExerciseViewModel

@{
    ViewData["Title"] = "Exercise Details";
}

<div class="card details-card">
    <div class="details-card-header d-flex justify-content-between align-items-center">
        <span>Exercise Details</span>
        <a asp-action="Index" class="btn btn-outline-secondary">
            <img src="~/backarrow.png" style="width: 25px; height: auto;" />
        </a>
    </div>

    <div class="details-card-body">
        <div class="details-field">
            <label>Description</label>
            <p>@Model.Name</p>
        </div>

        <div class="details-field">
            <label>Description</label>
            <p>@(string.IsNullOrEmpty(Model.Description) ? "---" : Model.Description)</p>
        </div>

        <div class="details-field">
            <label>Measurement</label>
            <p>@Model.Measurement.ToString()</p>
        </div>

        <div class="details-field">
            <label>Category</label>
            <p>@Model.Category.ToString()</p>
        </div>

        <div class="details-field">
            <label>Exercise Type</label>
            <p>@Model.ExerciseType.ToString()</p>
        </div>

        <div class="details-field">
            <label>Difficulty</label>
            <p>@Model.Difficulty.ToString()</p>
        </div>

        <div class="details-field">
            <label>Relevant skills</label>
            @if (Model.Skills != null && Model.Skills.Any())
            {
                <ul class="skills-list">
                    @foreach (var skill in Model.Skills)
                    {
                        <li>@skill.Name</li>
                    }
                </ul>
            }
            else
            {
                <p>No skills assigned.</p>
            }
        </div>
    </div>
</div>