@model IEnumerable<CalisthenicsSkillTracker.ViewModels.SkillViewModels.ListSkillViewModel>

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>

@{
    ViewData["Title"] = "All skills";
}

<h1 class="text-center fw-bold">Available skills for your workouts:</h1>

<div style="display:flex; align-items:center; width: 100%; margin-bottom: 1em;">
    <p style="margin: 0">
        <a asp-action="Create" class="btn btn-primary">Insert new skill</a>
    </p>

    <form method="get" asp-controller="Skills" asp-action="Index" style="margin-left: auto; display: flex; gap: 5px;">
        <input type="text" name="filter" placeholder="Search skills..." value="@ViewData["Filter"]" />
        <button type="submit">Search</button>
    </form>
</div> 

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">No skills found.</div>
}
else
{
    <div class="rounded-3 overflow-hidden border shadow-sm">
        <table class="table table-bordered mb-0 text-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skill in Model)
                {
                    <tr>
                        <td>@(skill.Name ?? "—")</td>
                        <td>@(skill.Description ?? "—")</td>
                        <td>@(skill.Difficulty.ToString() ?? "-")</td>
                        <td>
                            <a class="btn" style="background-color: lawngreen;" asp-action="Details" asp-route-id="@(skill?.Id)">
                                <img src="~/details.png" style="width: 25px; height: auto;" alt="Alternate Text" />
                            </a>
                            |
                            <a class="btn" style="background-color: deepskyblue;" asp-action="Edit" asp-route-id="@(skill?.Id)">
                                <img src="~/edit.png" style="width: 25px; height: auto;" alt="Alternate Text" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}